<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Manage Request</title>
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <link href="/css/style.css" rel="stylesheet" type="text/css">
   <link href="/css/addRequest.css" rel="stylesheet" type="text/css">
</head>
<body>
   <%- include('./components/navbar', {page: "requests", user_level: params.user_level ? params.user_level : null}) -%>
   <section class="get-in-touch">
      <h1 class="titleh1">
         <%- params.id ? "Edit Request" : "Create Request" %>
      </h1>
      <form class="contact-form row" enctype="multipart/form-data" action="./<%- params.id ? '' : 'add' %>" method="post" id="requestForm">
         <% if(params.id) { %>
            <input name="id" type="hidden" value='<%= params.id %>' />
         <% } %>
         <div class="form-field col-lg-12">
            <% if(params.title) { %>
               <input name="title" class="input-text js-input" type="text" value='<%= params.title %>' required>
            <% } else { %>
               <input name="title" class="input-text js-input" type="text" required>
            <% } %>
            <label class="label" for="title">Title<span class="required">*</span></label></label>
         </div>
         <% if (params.titleError) { %>
            <div class="alert alert-danger mt-2 w-100" role="alert">
              <strong>Invalid title</strong>
            </div>
          <% } %>
          <div class="form-field col-lg-12 mt-5">
            <textarea name="description" class="input-textarea js-input" type="text" rows="5" required><%- params.desc ? params.desc : "" %></textarea>
            <label class="label" for="description">Description<span class="required">*</span></label></label>
         </div>      
         <% if (params.descError) { %>
            <div class="alert alert-danger mt-2 w-100" role="alert">
              <strong>Invalid description</strong>
            </div>
          <% } %>
         <div class="form-field col-lg-12 mt-5">
            <select name="meeting" class="form-control">
              <option selected>Select Meeting<span class="required">*</span></label></option>
              <% params.meetings.forEach(meeting => { %>
                <option value="<%= meeting.id %>" <%- params.meeting_id === meeting.id ? "selected" : "" %>><%= meeting.name %></option>
             <% }) %>
            </select>
         </div>
         <% if (params.meetingError) { %>
            <div class="alert alert-danger mt-2 w-100" role="alert">
              <strong>Please select meeting</strong>
            </div>
          <% } %>
          <div class="form-field col-lg-12 mt-5">
            <input name="file" class="js-input ml-3" id="fileUpload" type="file" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/png, image/jpeg,.pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            <label class="label" for="file" style="bottom: 30px;">Upload File</label>
         </div>
         <% if (params.filepath) { %>
            <% if([".png",".jpeg",".jpg"].includes(params.filetype)) { %>
               <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                  <div class="request-card">
                     <b>Attachments</b>
                     <img class="img-responsive my-3 ml-3" style="cursor: pointer;" width="100" src="../../<%= params.filepath %>"
                        alt="request_image" data-toggle="modal" data-target="#imageModal" />
                  </div>
               </div>
            <% } %>
            <a class="btn btn-primary my-3 ml-3" href="../../<%= params.filepath %>" download target="_blank">Download Attachment</a>
         <% } %>
         <div class="alert alert-danger mt-2 w-100" role="alert" id="fileError" style="display: none;">
            <strong>File size too big. (max 5MB)</strong>
          </div>
         <div class="form-field col-lg-12 text-center mt-5">
            <input class="submit-btn" type="submit" value="Submit" id="submitBtn">
            <% if (params.queryError) { %>
               <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
                 <strong>Opps! Request did not create. Please try again in some time.</strong>
               </div>
             <% } %>
         </div>
      </form>
   </section>
   <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="" class="img-reponsive" width="100%" height="100%" id="imageModalImg" alt="request_image" />
          </div>
        </div>
      </div>
   </div>
</body>
<script>
   $(document).ready(function(){
      let file = null;
      $("#fileUpload").on("change", function(){
         file = $(this).get(0).files[0];
         if(file.size > (5 * 1024 * 1024)) $("#fileError").show();
      });

      $('#imageModal').on('show.bs.modal', function (event) {
         const button = $(event.relatedTarget);
         const src = button.prop('src');
         console.log(src);
         $("#imageModalImg").prop("src",src);
      })

      // $("#submitBtn").on("click" ,function(e){
      //    e.preventDefault();
      //    console.log("herer");
      //    const formData = $("#requestForm").serializeArray()
      //    if(file) formData.file = file;
      //    console.log(formData);
      //    fetch($("#requestForm").prop("action"),{method: 'POST',headers: {'Content-Type': 'multipart/form-data'},body: JSON.stringify(formData)});
      // });
   });
</script>
</html>