<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Users</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/addRequest.css" rel="stylesheet" type="text/css">
</head>
<body>
  <%- include('./components/navbar', {page: "users", user_level: params.user_level ? params.user_level : null}) -%>
  <section class="get-in-touch">
    <h1 class="titleh1">
       <%- params.id ? "Edit User" : "Create User" %>
    </h1>
    <form class="contact-form row" action="<%- params.id ? '../edit' : './add' %>" method="post">
       <% if(params.id) { %>
          <input name="id" type="hidden" value='<%= params.id %>' />
       <% } %>
       <div class="form-field col-lg-12">
         <input name="first_name" class="input-text js-input" type="text" value='<%- params.first_name ? params.first_name : "" %>' required>
         <label class="label" for="first_name">First Name<span class="required">*</span></label>
       </div>
       <% if (params.fnameError) { %>
         <div class="alert alert-danger mt-2 w-100" role="alert">
           <strong>Invalid first name</strong>
         </div>
       <% } %>
       <div class="form-field col-lg-12 mt-5">
         <input name="last_name" class="input-text js-input" type="text" value='<%- params.last_name ? params.first_name : "" %>' required>
         <label class="label" for="last_name">Last Name<span class="required">*</span></label>
       </div>
       <% if (params.lnameError) { %>
         <div class="alert alert-danger mt-2 w-100" role="alert">
           <strong>Invalid last name</strong>  
         </div>
       <% } %>
       <div class="form-field col-lg-12 mt-5">
         <input name="emp_no" class="input-text js-input" type="text" value='<%- params.emp_no ? params.emp_no : "" %>' required>
         <label class="label" for="emp_no">Employee Number<span class="required">*</span></label>
       </div>
       <% if (params.empnoError) { %>
         <div class="alert alert-danger mt-2 w-100" role="alert">
           <strong>Invalid employee number</strong>
         </div>
       <% } %>
       <div class="form-field col-lg-12 mt-5">
         <input name="designation" class="input-text js-input" type="text" value='<%- params.designation ? params.designation : "" %>' required>
         <label class="label" for="designation">Employee Designation<span class="required">*</span></label>
       </div>
       <% if (params.desigError) { %>
         <div class="alert alert-danger mt-2 w-100" role="alert">
           <strong>Invalid designation</strong>
         </div>
       <% } %>
       <div class="form-field col-lg-12 mt-5">
         <input name="mob_no" class="input-text js-input" type="number" value='<%- params.mob_no ? params.mob_no : "" %>' required>
         <label class="label" for="mob_no">Mobile Number<span class="required">*</span></label>
       </div>
       <% if (params.mobnoError) { %>
         <div class="alert alert-danger mt-2 w-100" role="alert">
           <strong>Invalid mobile number</strong>
         </div>
       <% } %>
       <div class="form-field col-lg-12 mt-5">
         <select name="level" id="levelSelect" class="form-control">
           <option selected>Select Employee Level</option>
           <option value="1" <%- params.level == 1 ? "selected" : "" %>>Chief OS / CSWI / DBA</option>
           <option value="2" <%- params.level == 2 ? "selected" : "" %>>DPO</option>
           <option value="3" <%- params.level == 3 ? "selected" : "" %>>OS</option>
           <option value="4" <%- params.level == 4 ? "selected" : "" %>>BO</option>
           <option value="5" <%- params.level == 5 ? "selected" : "" %>>CRMS/NRMU Coordinator</option>
         </select>
       </div>
       <div id="category_div" style="display: none;" class="w-100">
         <div class="form-field col-lg-12 mt-5">
           <select name="category" class="form-control" type="text" value='<%- params.category ? params.category : "" %>' id="categorySelect">
             <option value="0" selected>Select Department</option>
             <% params.categories.forEach(category => { %>
               <option value="<%= category.id %>" <%- params.category_id == category.id ? "selected" : "" %>><%= category.name %></option>
            <% }) %>
           </select>
         </div>
         <% if (params.categoryError) { %>
           <div class="alert alert-danger mt-2 w-100" role="alert">
             <strong>Please select a Department</strong>
           </div>
         <% } %>
        </div>
        <div id="union_div" style="display: none;" class="w-100">
          <div class="form-field col-lg-12 mt-5">
           <select name="union" class="form-control" type="text" value='<%- params.union_id ? params.union_id : "" %>'>
             <option value="0" selected>Select Union</option>
             <option value="1" <%- params.union_id == '1' ? "selected" : "" %>>NRMU</option>
             <option value="2" <%- params.union_id == '2' ? "selected" : "" %>>CRMS</option>
           </select>
          </div>
          <% if (params.unionError) { %>
           <div class="alert alert-danger mt-2 w-100" role="alert">
             <strong>Please select a union</strong>
           </div>
          <% } %>
        </div>
       <div class="form-field col-lg-12 text-center mt-5">
          <input class="submit-btn" type="submit" value="<%- params.id ? 'Edit' : 'Create' %>">
          <% if (params.queryError) { %>
             <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
               <strong>Opps! Request did not create. Please try again in some time.</strong>
             </div>
           <% } %>
       </div>
    </form>
 </section>
 <script>
  const level =  <%- params.level ? JSON.stringify(params.level) : "null" %>
  if(level == 3 || level == 4) $("#category_div").show();
  if(level == 5) $("#union_div").show();
  $("#levelSelect").on("change", function() {
    const value = $(this).val();
    if(value == 3 || value == 4) $("#category_div").show();
    else $("#category_div").hide();
    if(value == 5) $("#union_div").show();
    else $("#union_div").hide();
  })
 </script>
</body>
</html>